{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .cor-1 {
            background-color: #5eb5e0;
        }
        .cor-2 {
            background-color: #718C00;
        }
        .cor-3 {
            background-color: #8959A8;
        }
        .cor-4 {
            background-color: #916319;
        }
        .cor-5 {
            background-color: #868686;
        }
        .cor-6 {
            background-color: #AA3333;
        }
        .cor-7 {
            background-color: #ffcc00;
        }
        .cor-8 {
            background-color: #D3D3D3;
        }
        .cor-9 {
            background-color: blue;
        }
        .cor-10 {
            background-color: aquamarine;
        }
        .pedidos {
            margin: 0;
            width: 40%;
            float:left;
            font: 18px/1.5 sans-serif;
            padding: 0 5%;
        }

        .pedidos code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .pedidos ul {
            list-style: none;
        }

        .pedidos h2{

        }
    </style>

    <div class="pedidos">
        <h2>Pedidos Prontos</h2>
        <ul>
            {% for vertice in prontos %}
                <li class="cor-{{vertice.cor}}">Vertice: <code>{{ vertice.nome }}</code> Cor: <code>{{ vertice.cor }}</code> {{ vertice.pedido.tipo }} - {{ vertice.pedido.regiao
                    }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="pedidos">
        <h2>Em Elaboração</h2>
        <ul>
            {% for vertice in elaboracao %}
                <li class="cor-{{vertice.cor}}">Vertice: <code>{{ vertice.nome }}</code> Cor: <code>{{ vertice.cor }}</code> {{ vertice.pedido.tipo }} - {{ vertice.pedido.regiao
                    }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
