{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="pedidos">
        <h2>Pedidos Prontos</h2>
        <ul>
            {% for vertice in prontos %}
                <li class="cor-{{vertice.pedido.tipo}}-{{vertice.pedido.regiao}}">Vertice: <code>{{ vertice.nome }}</code> Cor: <code>{{ vertice.cor }}</code> {{ vertice.pedido
                    .tipo }} - {{ vertice
                    .pedido.regiao
                    }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="pedidos">
        <h2>Em Elaboração</h2>
        <ul>
            {% for vertice in elaboracao %}
                <li class="cor-{{vertice.pedido.tipo}}-{{vertice.pedido.regiao}}">Vertice: <code>{{ vertice.nome }}</code> Cor: <code>{{ vertice.cor }}</code> {{ vertice.pedido.tipo }} - {{ vertice.pedido.regiao
                    }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
